
h1, h2
{
    color: #7d0d7e;
    text-align: center;
}
p    
{
    color: #08007e;
    text-align: center;
}

body 
{
    background-color:#cdd9ff;
    text-align: center;
}

#title {
    color: #c0148c;
}

#mariecurie {
    height: 200px;
    margin: 0 auto;
}
.big-header
{

}